.card-deck{
    margin: 10px 0 10px 0;
}

.card-body{

    text-align: center;
    background-color: #fceef4;
}

.card-body h3{
    margin: 0;
}

.card-body h4{
    margin: 0;
    background-color: #fceef4;
}

