.navbar {
    justify-content: end;
    padding: 0 16px 0 16px;
    
}

.nav-link {
    color: #77d5e4;
    font-size: 20px;
    
}

a:hover {
    color: #fa66c4;
  }

.navbar-brand img{
  width: 100px;

}
