.cart .container{
    margin: 25px 0 10px 0;
    max-width: 400px;
}

.badge{
    background-color: #26abc0;
}

.list-group-item{
    background-color: blanchedalmond;
}

.cart .card-body button{
    margin-left: 0px;
}

.list-group-item p{
    font-size: small;
    
}