.Home {
    background-color: #fedaea;
    color: #26abc0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
   
    
  }

  .Home h5{
    padding: 20px;
    
  }

  