.card-deck{
    margin: 1px;
    margin-bottom: 10px;
}

.card-body{

    text-align: center;
    background-color: #fceef4;

}

.card-body h3{
    margin: 0;
}

.card-body h4{
    margin: 0;
    background-color: #fceef4;
}

.card-body button{
    margin-left: 60px;
}