
.prodItems li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    

}
.prodItems p{
    font-size: small;
    margin-bottom: 0;
}